<ion-header>
  <ion-toolbar>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center" class="body">
    <br>
    <h3 style="color: white">Found any bugs? or Have any issues? Let us know</h3>
    <br>
    <br>
    <br>

    <ion-item color="transparent" style="margin-left: auto;
margin-right: auto;
width : 70%;
display : block;
">
      <ion-label position="stacked" style="font-size: 23px;margin-bottom: 10px;font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;color: white">Enter Your Email</ion-label>
      <ion-input type="Email" [(ngModel)]="email" style="color: white"></ion-input>
    </ion-item>
    <br>
    <ion-item color="transparent" style="margin-left: auto;
margin-right: auto;
width : 70%;
display : block;
">
      <ion-label position="stacked" style="font-size: 23px;margin-bottom: 10px;font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;color: white">Describe Here</ion-label>
      <ion-textarea [(ngModel)]="description" style="color: white"></ion-textarea>
    </ion-item>
    <br>
    <br>
    <ion-button (click)="submit()" size="medium" color="primary" style=" border-radius: 100%;
    padding: 5px;
    text-align: center;
    widows: 12px;
    height: 50px;
    display: inline-block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width : 70%;
    margin-top: -5px;
    font-family: Georgia, 'Times New Roman', Times, serif">SUBMIT</ion-button>

  </div>
</ion-content>